.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}

.question {
  display: flex;
  margin: 40px 0px 20px;
}

.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.checkboxLabel {
  text-align: left;
  width: 200px;
  margin-left: 12px;
}

.experienceDropdownLabel {
  margin-top: 50px;
  width: 400px;
}

.experienceDropdown {
  width: 200px;
}

.controls {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
}
